configfile: "config/config.yaml"

module [[ module_name ]]:
    snakefile:
        # TODO replace <release> with desired release
        "https://github.com/ethan-baldwin/braker3_annotation/raw/alpha0.01/Snakefile"
    config:
        config

use rule * from [[ module_name ]]
